<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.walsin.cordova.plugin.demo" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>HelloZoe</name><js-module name="HelloZoe" src="www/HelloZoe.js"><clobbers target="cordova.plugins.HelloZoe" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="HelloZoe"><param name="android-package" value="com.walsin.cordova.plugin.demo.HelloZoe" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/HelloZoe.java" target-dir="src/com/walsin/cordova/plugin/demo/HelloZoe" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="HelloZoe"><param name="ios-package" value="HelloZoe" /></feature></config-file><source-file src="src/ios/HelloZoe.m" /></platform></plugin>